In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("loan_data_2015.csv")
df.head()

C:\Users\umerm\AppData\Local\Temp\ipykernel_18788\451362111.py:1: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("loan_data_2015.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,68444620,73334399,35000,35000,35000.0,60 months,11.99,778.38,C,C1,...,35367.0,49.3,0.0,1.0,5020.0,40.1,52200.0,1.0,4.0,0.0
1,68547583,73437441,8650,8650,8650.0,36 months,5.32,260.50,A,A1,...,24041.0,88.8,0.0,3.0,3081.0,57.9,26800.0,1.0,0.0,5.0
2,67849662,72708407,4225,4225,4225.0,36 months,14.85,146.16,C,C5,...,3830.0,21.9,0.0,0.0,367.0,22.4,4300.0,0.0,0.0,0.0
3,68506885,73396712,10000,10000,10000.0,60 months,11.99,222.40,C,C1,...,35354.0,75.5,1.0,1.0,3118.0,67.4,14200.0,1.0,1.0,1.0
4,68341763,72928789,20000,20000,20000.0,60 months,10.78,432.66,B,B4,...,10827.0,72.8,0.0,2.0,2081.0,64.7,14000.0,2.0,5.0,1.0

In [5]:
df.isnull().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                     ...
all_util            399722
total_rev_hi_lim         0
inq_fi              399722
total_cu_tl         399722
inq_last_12m        399722
Length: 74, dtype: int64

In [6]:
# Create new features based on customer transaction history, such as average 
# transaction amount and number of transactions.

In [7]:
print(df.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [8]:
print(df.head())

         id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  68444620   73334399      35000        35000          35000.0   60 months
1  68547583   73437441       8650         8650           8650.0   36 months
2  67849662   72708407       4225         4225           4225.0   36 months
3  68506885   73396712      10000        10000          10000.0   60 months
4  68341763   72928789      20000        20000          20000.0   60 months

   int_rate  installment grade sub_grade  ... total_bal_il il_util  \
0     11.99       778.38     C        C1  ...      35367.0    49.3
1      5.32       260.50     A        A1  ...      24041.0    88.8
2     14.85       146.16     C        C5  ...       3830.0    21.9
3     11.99       222.40     C        C1  ...      35354.0    75.5
4     10.78       432.66     B        B4  ...      10827.0    72.8

  open_rv_12m  open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi  \
0         0.0          1.0     5020.0     40.1          52200.0    1.0
1         0.0          3.0     3081.0     57.9          26800.0    1.0
2         0.0          0.0      367.0     22.4           4300.0    0.0
3         1.0          1.0     3118.0     67.4          14200.0    1.0
4         0.0          2.0     2081.0     64.7          14000.0    2.0

  total_cu_tl inq_last_12m
0         4.0          0.0
1         0.0          5.0
2         0.0          0.0
3         1.0          1.0
4         5.0          1.0

[5 rows x 74 columns]

In [9]:
# Create new features

# Average installment amount (assuming installment represents periodic payments)
df['avg_installment_amount'] = df['installment']

# Total payment ratio: total payments made / funded amount
df['total_payment_ratio'] = df['total_pymnt'] / df['funded_amnt']

# Interest received ratio: total interest received / funded amount
df['interest_received_ratio'] = df['total_rec_int'] / df['funded_amnt']

# Recoveries ratio: recoveries / funded amount
df['recoveries_ratio'] = df['recoveries'] / df['funded_amnt']

In [10]:
# Display the first few rows to verify the new features
print(df.head())

         id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  68444620   73334399      35000        35000          35000.0   60 months
1  68547583   73437441       8650         8650           8650.0   36 months
2  67849662   72708407       4225         4225           4225.0   36 months
3  68506885   73396712      10000        10000          10000.0   60 months
4  68341763   72928789      20000        20000          20000.0   60 months

   int_rate  installment grade sub_grade  ... max_bal_bc all_util  \
0     11.99       778.38     C        C1  ...     5020.0     40.1
1      5.32       260.50     A        A1  ...     3081.0     57.9
2     14.85       146.16     C        C5  ...      367.0     22.4
3     11.99       222.40     C        C1  ...     3118.0     67.4
4     10.78       432.66     B        B4  ...     2081.0     64.7

  total_rev_hi_lim  inq_fi total_cu_tl inq_last_12m avg_installment_amount  \
0          52200.0     1.0         4.0          0.0                 778.38
1          26800.0     1.0         0.0          5.0                 260.50
2           4300.0     0.0         0.0          0.0                 146.16
3          14200.0     1.0         1.0          1.0                 222.40
4          14000.0     2.0         5.0          1.0                 432.66

  total_payment_ratio interest_received_ratio recoveries_ratio
0                 0.0                     0.0              0.0
1                 0.0                     0.0              0.0
2                 0.0                     0.0              0.0
3                 0.0                     0.0              0.0
4                 0.0                     0.0              0.0

[5 rows x 78 columns]

In [11]:
# Generate interaction features between existing variables, like income-to-loan 
# ratio.

In [12]:
# Income-to-Loan Ratio
df['income_to_loan_ratio'] = df['annual_inc'] / df['loan_amnt']

# Debt-to-Income Ratio
df['debt_to_income_ratio'] = df['dti'] / df['annual_inc']

# Installment-to-Income Ratio
df['installment_to_income_ratio'] = df['installment'] / df['annual_inc']

# Loan Amount-to-Funded Amount Ratio
df['loan_to_funded_ratio'] = df['loan_amnt'] / df['funded_amnt']

# Revolving Balance-to-Income Ratio
df['revol_balance_to_income_ratio'] = df['revol_bal'] / df['annual_inc']

In [13]:
print(df.head())

         id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  68444620   73334399      35000        35000          35000.0   60 months
1  68547583   73437441       8650         8650           8650.0   36 months
2  67849662   72708407       4225         4225           4225.0   36 months
3  68506885   73396712      10000        10000          10000.0   60 months
4  68341763   72928789      20000        20000          20000.0   60 months

   int_rate  installment grade sub_grade  ... inq_last_12m  \
0     11.99       778.38     C        C1  ...          0.0
1      5.32       260.50     A        A1  ...          5.0
2     14.85       146.16     C        C5  ...          0.0
3     11.99       222.40     C        C1  ...          1.0
4     10.78       432.66     B        B4  ...          1.0

  avg_installment_amount total_payment_ratio  interest_received_ratio  \
0                 778.38                 0.0                      0.0
1                 260.50                 0.0                      0.0
2                 146.16                 0.0                      0.0
3                 222.40                 0.0                      0.0
4                 432.66                 0.0                      0.0

  recoveries_ratio income_to_loan_ratio debt_to_income_ratio  \
0              0.0             3.657143             0.000050
1              0.0            11.560694             0.000073
2              0.0             8.284024             0.000435
3              0.0             4.250000             0.000730
4              0.0             3.150000             0.000171

  installment_to_income_ratio loan_to_funded_ratio  \
0                    0.006081                  1.0
1                    0.002605                  1.0
2                    0.004176                  1.0
3                    0.005233                  1.0
4                    0.006868                  1.0

  revol_balance_to_income_ratio
0                      0.111539
1                      0.071580
2                      0.030229
3                      0.136753
4                      0.124905

[5 rows x 83 columns]

In [14]:
# Use domain knowledge to create features that might influence loan defaults, 
# such as employment stability and credit score.

In [15]:
# Employment Length: Convert employment length to a numerical value (assuming it's in a string format)
df['emp_length_num'] = df['emp_length'].str.extract('(\d+)').astype(float)
df['emp_length_num'].fillna(0, inplace=True)  # Fill NaN values with 0 (e.g., 'n/a' or '< 1 year')

# Is Long-Term Employed: Binary feature if employed for more than 10 years
df['is_long_term_employed'] = df['emp_length_num'] > 10

# Revolving Balance Utilization
df['revol_bal_util'] = df['revol_bal'] / df['total_rev_hi_lim']

# Loan to Income Ratio
df['loan_to_income_ratio'] = df['loan_amnt'] / df['annual_inc']

# Number of Inquiries in the last 6 months
df['num_inquiries_last_6m'] = df['inq_last_6mths']

# Number of Inquiries in the last 12 months
df['num_inquiries_last_12m'] = df['inq_last_12m']

# Number of Open Accounts
df['num_open_accounts'] = df['open_acc']

In [16]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,installment_to_income_ratio,loan_to_funded_ratio,revol_balance_to_income_ratio,emp_length_num,is_long_term_employed,revol_bal_util,loan_to_income_ratio,num_inquiries_last_6m,num_inquiries_last_12m,num_open_accounts
0,68444620,73334399,35000,35000,35000.0,60 months,11.99,778.38,C,C1,...,0.006081,1.0,0.111539,10.0,False,0.273506,0.273438,0.0,0.0,17.0
1,68547583,73437441,8650,8650,8650.0,36 months,5.32,260.50,A,A1,...,0.002605,1.0,0.071580,1.0,False,0.267090,0.086500,0.0,5.0,15.0
2,67849662,72708407,4225,4225,4225.0,36 months,14.85,146.16,C,C5,...,0.004176,1.0,0.030229,5.0,False,0.246047,0.120714,0.0,0.0,6.0
3,68506885,73396712,10000,10000,10000.0,60 months,11.99,222.40,C,C1,...,0.005233,1.0,0.136753,10.0,False,0.409296,0.235294,1.0,1.0,10.0
4,68341763,72928789,20000,20000,20000.0,60 months,10.78,432.66,B,B4,...,0.006868,1.0,0.124905,10.0,False,0.562071,0.317460,0.0,1.0,6.0